header
  @extend .wrapper
  display: flex
  justify-content: space-between
  flex-direction: row
  border-bottom: $brandborder
  align-items: center

  div
    margin: 1em
    h1
      font-size: 2.5em
      color: $brand
      font-family: 'Trirong', cursive
    p
      font-size: 0.7em
      color: $contrast
      margin-left: 2em

  nav ul
    list-style: none
    text-align: right
    li
      font-size: 0.7em
      margin: 1em 1em
      height: calc(100%/3)
      vertical-align: bottom
